.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  width: 85%;
  margin-top: 1rem;
}
.form > input {
  all: unset;
  width: 100%;
}
.form p {
  color: rgb(188, 42, 42);
  font-size: 0.75rem;
}
.form > input {
  height: 1rem;
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 0.25rem;
  color: var(--color-text);
}
.btn {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--color-btn-accent) !important;
  color: var(--color-text-light);
}

@media (max-width: 625px) {
  .form {
    width: 100%;
  }
}
