.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-1);
  width: 100%;
  height: auto;
  padding: 5rem 2rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.questions {
  flex: 1;
  width: 100%;
  list-style: none;
}
.image {
  display: flex;

  align-items: center;
  justify-content: center;
  flex: 1;
  height: 25rem;
  width: 100%;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .image {
    display: none;
  }
}
