.question-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.question {
  height: auto;
  max-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  color: var(--color-text);
  border: none;
  border-bottom: 1px solid var(--color-text);
  padding: 1.75rem 0;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  transition: all 0.5s ease-in-out;
  text-align: start;
}
.question-opened {
  border-bottom: none;
  font-weight: 600;
}
.question:first-child > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-text);
  width: 30px;
  height: 30px;
}
.icon {
  width: 20px;
  height: 20px;
  stroke: var(--color-text);
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}
.icon-opened {
  transform: rotate(270deg);
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.answer-opened {
  font-size: 1rem;
  max-height: 300px;
  opacity: 1;
  color: var(--third-color);
  padding: 0.5rem 0;
}
@media (max-width: 1440px) {
  .question {
    font-size: 1rem;
    padding: 1.5rem 0;
  }
  .answer {
    font-size: 0.75rem;
  }
}
@media (max-width: 425px) {
  .question {
    padding: 1.25rem 0;
  }
  .answer {
    font-size: 0.75rem;
  }
}
