:root {
  --primary-font: 'Raleway', serif;
  --secondary-font: 'Lora', serif;
  --header-height: 85px;
  --primary-color: #d4cdc5;
  --secondary-color: #f1f1f1;
  --third-color: #5d6d5c;
  --text-color: #404040;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--third-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--third-color);
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
