@import 'react-loading-skeleton/dist/skeleton.css';
:root {
  /* Fonts */
  --font-primary: 'Raleway', serif;
  --font-secondary: 'Lora', serif;

  /* Measures */
  --header-height: 85px;
  --border-radius: 6px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Main colors */
  --color-text: #4e4a55;
  --color-text-light: #f7f3ee;
  --color-bg-1: #f4efea;
  --color-bg-2: #f1ece7;
  --color-bg-3: #ebe6e1;
  --color-border: var(--color-text);

  /* Header */
  --color-header-bg: rgb(128, 112, 135);

  /* Buttons */
  --color-btn-default: #ede8e2;
  --color-btn-default-hover: #e1dad2;
  --color-btn-accent: var(--color-header-bg);
  --color-swiper-accent: var(--color-header-bg);

  --color-btn-confirm: #bfcfba;
  --color-btn-confirm-hover: #afc2aa;
  --color-btn-cancel: #d8b5b5;
  --color-btn-cancel-hover: #c69f9f;
}
.wrapper {
  width: 100%;
}
html {
  font-size: 16px;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
}
header,
footer {
  color: var(--color-text-light);
}
h1,
h2,
h3 {
  font-family: var(--font-secondary);
  color: var(--third-color);
}
h2 {
  align-self: flex-start;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5rem 0;
}
button,
a {
  cursor: pointer;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--third-color);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem;
}
.confirm-btn {
  background-color: var(--confirm-btn-color);
}

.cancel-btn {
  background-color: var(--cancel-btn-color);
}

.confirm-btn:hover {
  background-color: var(--confirm-btn-color-hover);
  color: var(--secondary-color);
}

.cancel-btn:hover {
  background-color: var(--cancel-btn-color-hover);
  color: var(--secondary-color);
}
.confirm-btn:hover,
.cancel-btn:hover {
  border: 1px solid var(--secondary-color);
}
.confirm-btn:hover span,
.cancel-btn:hover span {
  color: var(--secondary-color);
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  .container {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }
}
