.home {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  padding-top: var(--header-height);
  background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?q=80&w=1520&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.h1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 400;
  font-style: italic;
  z-index: 2;
  top: 20%;
  left: 30%;
  transform: translate(-70%, -35%);
}
.button {
  position: absolute;
  bottom: 25%;
  left: 15%;
}

.h1 > span:first-child {
  margin-left: -10rem;
}
.h1 > span:last-child {
  margin-left: 10rem;
}

.content {
  position: relative;
  height: 100%;
}
.content > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 20rem;
  height: auto;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1440px) {
  .h1 {
    top: 15%;
    left: 33%;
  }
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 6rem;
    top: 20%;
    left: 33%;
  }
  .h1 > span:first-child {
    margin-left: 0;
  }
  .h1 > span:last-child {
    margin-left: 0;
  }
  .button {
    bottom: 30%;
    left: 15%;
  }
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 4rem;
  }
  .button {
    bottom: 35%;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .home {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--color-bg-2);
    background-image: none;
    height: auto;
    padding-bottom: 2rem;
  }
  .container {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
  }

  .h1 {
    position: static;
    font-size: 3rem;
    height: fit-content;
    flex-direction: row;
    transform: none;
    gap: 1rem;
    margin-top: 2rem;
  }
  .button {
    position: static;
  }
}
@media (max-width: 425px) {
  .img {
    width: 15rem;
  }
}
