.home {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  padding-top: var(--header-height);
  background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?q=80&w=1520&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.h1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 400;
  font-style: italic;
  z-index: 2;
  top: 15%;
  left: 40%;
  transform: translate(-70%, -35%);
}
.button {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.h1 > span:first-child {
  margin-left: -10rem;
}
.h1 > span:last-child {
  margin-left: 10rem;
}

.content {
  position: relative;
  height: 100%;
}
.content > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .home {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .h1 {
    position: static;
    font-size: 3rem;
    height: fit-content;
    flex-direction: row;
    transform: none;
    gap: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 375px) {
  .h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
