.toggle-container {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 25;
  pointer-events: auto;
}
