.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--color-bg-2);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--color-text);
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.confirm-btn {
  background-color: var(--color-btn-confirm);
}

.cancel-btn {
  background-color: var(--color-btn-cancel);
}

.confirm-btn:hover {
  background-color: var(--color-btn-confirm-hover);
  color: var(--color-text);
}

.cancel-btn:hover {
  background-color: var(--color-btn-cancel-hover);
  color: var(--color-text);
}

.confirm-btn:hover span,
.cancel-btn:hover span {
  color: var(--color-text);
}
