.about {
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  padding: 5rem 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
}
.image {
  width: 25rem;
  height: 30rem;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
  width: 50%;

  flex: 1;
}
.text > p,
.link {
  line-height: 2rem;
  font-size: 1.25rem;
  width: 100%;
}
.text > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}
.text > ul > li {
  padding-bottom: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .image {
    width: 20rem;
    height: 25rem;
  }
}
@media (max-width: 1024px) {
  .text > p,
  .link {
    line-height: 1.25rem;
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  h2 {
    width: 100%;
    text-align: center;
  }
  .container {
    width: 95%;
  }
  .content {
    flex-direction: column;
  }
  .image {
    height: 20rem;
  }
  .image img {
    transition: none;
  }
  .image img:hover {
    transform: none;
    opacity: 1;
  }
  .text {
    width: 100%;
    margin-top: 2rem;
  }
}
@media (max-width: 425px) {
  .image {
    width: 15rem;
    height: 20rem;
  }
}
