.auth {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?q=80&w=1520&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .auth {
    background-color: var(--color-bg-2);
    background-image: none;
    align-items: start;
    padding-top: 2rem;
  }
}
