.container {
  position: fixed;
  display: flex;

  justify-content: flex-start;
  align-items: stretch;
  flex: 1;

  max-width: 100%;
  height: 600px;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  right: 0;
}
.nav {
  width: 300px;
}
.background {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
}
