.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  color: var(--third-color);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--third-color);
  font-weight: 600;
}
.arrow {
  display: none;
  fill: var(--third-color);
}
.sublink {
  color: var(--secondary-color);
  font-weight: 400;
}
.sublink:hover {
  text-decoration: underline;
  font-weight: 500;
}
.link,
.sublink {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  text-align: center;
}

.link:hover,
.sublink:hover {
  color: var(--secondary-color);
  transform: translateY(-2px);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 50px;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: auto;
  list-style-type: none;
  background-color: var(--third-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0px;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.dropdownMenu li .link {
  color: var(--secondary-color);
}

.dropdownMenu li .link:hover {
  color: var(--secondary-color);
}

.burger_icon {
  display: none;
  position: absolute;
  top: 25%;
  right: 2rem;
  width: 2rem;
  height: 2rem;

  transition: all 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--third-color);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.burger_open .line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  transform-origin: center;
}

.burger_open .line:nth-child(2) {
  opacity: 0;
}

.burger_open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  transform-origin: center;
}

@media (max-width: 768px) {
  .burger_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }
  .arrow {
    display: block;
  }

  .menu {
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--primary-color);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .menu_opened {
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
  }
  .link:hover {
    color: var(--third-color);
  }

  .dropdownMenu {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: none;
    list-style-type: none;
    background-color: var(--primary-color);
    box-shadow: none;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .menu li {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .dropdownMenu.open {
    height: auto;
  }
}
