.nav {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100%;
}
.nav > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  list-style-type: none;
  margin: 2rem 1rem;
  padding-top: 8rem;
  border-right: 1px solid lightgray;
}

.nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 2rem;
  width: 200px;
  color: var(--third-color);
  padding: 1.5rem;
  font-family: var(--primary-font);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.nav > ul > li:hover {
  background-color: var(--primary-color);
}
.active {
  background-color: var(--primary-color);
}
