.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-btn-default);
  height: 2.5rem;
  width: 7rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: 0.75rem;
  transition: all 1s ease;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--secondary-color);
}

.button:hover {
  background-color: var(--color-btn-default-hover);
  border: 1px solid var(--third-color);
}
@media (max-width: 1024px) {
  .button {
    height: 2.5rem;
    width: 6rem;
  }
}
