.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-3);
  z-index: 9999;
}

.loader {
  display: block;
  margin: 0 auto;
  border-color: var(--color-btn-accent);
}
