.schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-1);
  width: 100%;
  height: auto;
  padding: 5rem 2rem;
}
.timetable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
