.card {
  display: flex;
  align-items: end;
  gap: 2rem;
}
.photo {
  height: 20rem;
  width: 15rem;
}
.photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  width: 60%;
}
