.tableWrapper {
  margin: 4rem auto;
  width: 90%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  color: var(--text-color);
  font-weight: 500;
}

thead th {
  padding: 12px;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
  text-transform: uppercase;
  color: var(--text-color);
}

tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-color);
}

tbody tr:hover {
  background-color: var(--secondary-color);
}
.icon {
  width: auto;
  font-weight: normal;
  font-size: 1rem;
}

.bookBtn {
  width: 100%;
}
.bookBtnDeact {
  cursor: not-allowed;
}
.bookBtn:hover {
  color: var(--third-color);
}

@media (max-width: 1024px) {
  .tableWrapper {
    width: 100%;
  }
  .icon {
    display: none;
  }
  .table {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .table {
    display: none;
  }
}
