.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg-1);
  padding: 16px;
  text-align: center;
}

.cancel h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-btn-cancel);
}

.cancel p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
