.card {
  display: none;
}
@media (max-width: 768px) {
  .table {
    display: none;
  }

  .card {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color-bg-3);
    border: 1px solid var(--primary-color);
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    height: 100%;
    min-height: 17rem;
    min-width: 13rem;
  }

  .card p {
    margin: 4px 0;
  }

  .bookBtn {
    margin-top: 10px;
    padding: 10px 12px;
    background-color: var(--color-header-bg);
    color: var(--color-text-light);
    font-weight: 400;
  }
}
