.contact {
  background-color: var(--color-bg-3);
  padding: 5rem 2rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.content:first-child > div,
.content:last-child > div {
  flex: 1;
}
.image {
  width: 15rem;
  height: 25rem;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .content:first-child > div {
    flex: none;
  }
  .image {
    display: none;
  }
}
