.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
  color: var(--color-text);
}
.icon-placeholder {
  width: 20px;
  height: 20px;
  border-radius: 550%;
  flex: 0 0 20px;
  margin-left: 20px;
  border: 1px solid var(--color-text);
}
.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  text-align: right;
}
