.trainers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  width: 100%;
  height: auto;
  padding: 5rem 2rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.slider {
  width: 40%;
}
@media (max-width: 900px) {
  .slider {
    width: 100%;
  }
}
