.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: end;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-right: 0;
}
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
