.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  width: auto;
  height: 2.8rem;
  border-radius: 50px;
  background-color: var(--third-color);
  border: none;
  padding: 15px;
  transition: all 1s ease;
  font-family: var(--primary-font);
  cursor: pointer;
}
.button span {
  color: var(--secondary-color);
}
.icon {
  width: 20px;
  height: 20px;
  stroke: var(--secondary-color);
}

.button:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--third-color);
}
.button:hover span {
  color: var(--third-color);
}
.button:hover .icon {
  stroke: var(--third-color);
}
