.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  margin-top: 2rem;
}
.info > p {
  color: var(--third-color);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  gap: 4rem;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fields > label > input {
  all: unset;
  height: 2rem;
  background-color: none;
  border: 1px solid var(--third-color);
  border-radius: 2px;
  padding: 5px;
  width: 12rem;
  cursor: pointer;
}
.fields > label {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--third-color);
}
.fields > label > p {
  width: 6rem;
}
.error {
  color: var(--cancel-btn-color);
}
.confirm {
  background-color: var(--confirm-btn-color);
}

.cancel {
  background-color: var(--cancel-btn-color);
}

.confirm:hover {
  background-color: var(--confirm-btn-color-hover);
  color: var(--secondary-color);
}

.cancel:hover {
  background-color: var(--cancel-btn-color-hover);
  color: var(--secondary-color);
}
.confirm:hover,
.cancel:hover {
  border: 1px solid var(--secondary-color);
}
.confirm:hover span,
.cancel:hover span {
  color: var(--secondary-color);
}
.buttons {
  display: flex;
  gap: 2rem;
}
.img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}
.img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
