.plan {
  display: flex;
  height: 100%;
}
.plan > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  list-style: none;
  gap: 2rem;
}
.plan > ul > li {
  color: var(--third-color);
}
