.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-header-bg);
  box-shadow: var(--box-shadow);
  color: var(--color-text-light);
}
