.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}
.form > input,
.form > textarea {
  all: unset;
  width: 80%;
}
.form p {
  color: rgb(188, 42, 42);
}
.form > input {
  height: 1.5rem;
  border-bottom: 1px solid var(--color-text);
  padding: 0.75rem 0.25rem;
  color: var(--color-text);
}
.form > textarea {
  height: 10rem;
  word-wrap: break-word;
  border: 1px solid var(--color-text);
  padding: 0.75rem 0;
  color: var(--color-text);
  padding: 0.75rem 0.25rem;
}
.btn {
  background-color: var(--color-header-bg);
  color: var(--color-text-light);
}
@media (max-width: 1024px) {
  .form > input,
  .form > textarea {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form {
    align-items: center;
  }
  .form > input,
  .form > textarea {
    width: 70%;
  }
}
