.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  margin-left: 2rem;
  padding-top: 2rem;
}

.title {
  color: var(--third-color);
  font-size: 2rem;
}
