.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.photo {
  height: 15rem;
  width: 10rem;
}
.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .photo {
    height: 13rem;
  }
}
