.navigation {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  width: 100%;
  position: relative;
  margin-top: 5rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--third-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.icon {
  stroke: var(--third-color);
  font-size: 1.25rem;
}

.pagination {
  height: 4px !important;
  background-color: #e0e0e0 !important;
  width: 100% !important;

  position: relative !important;
  border-radius: 2px !important;
}

:global(.swiper-pagination-progressbar-fill) {
  background-color: var(--third-color) !important;
  height: 100%;
  width: 100%;
  transition: width 0.3s ease;
}
