.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  margin-top: 2rem;
}
.info > p {
  color: var(--third-color);
}
.img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}
.img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
}
