.logo {
  font-size: 2rem !important;
  color: var(--color-header-bg);
  width: 100% !important;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  width: 30rem;
  height: fit-content;
  padding: 3rem 2rem;
  background-color: var(--color-bg-2);
  border-radius: var(--border-radius);
}
.content > h4 {
  color: var(--third-color);
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
}
.content > p > span {
  cursor: pointer;
  font-weight: 700;
  color: var(--third-color);
}
@media (max-width: 625px) {
  .logo {
    font-size: 1.5rem !important;
  }
  .content {
    width: 100%;
    padding: 1rem;
  }
}
